.offers-content {
    padding: 20px;
}

.offer-item {
    display: flex;
    align-items: center;
    background-color: #7d6eee;
    padding: 10px;
        margin-bottom: 15px;
    border-bottom: 1px solid #ddd;
}

.css-b7dj7n-MuiList-root{
    width: 80% !important;
}

.offer-item.active {
    background-color: #9279d2;
}

.offer-item.inactive {
    background-color: #dff0d8b2;
   
}

.MuiListItemText-multiline {
    text-align: center !important;
}

.offer-image {
    width: 100px;
    height: 100px;
    margin-right: 20px;
    border-radius: 10px;
    object-fit: cover;
}

img{
        height: 100px;
            width: 100px;
}

.offer-details {
    flex-grow: 1;
        text-align: center;
}

.offer-status {
    margin-left: 20px;
    font-weight: bold;
    color: #666;
}

.offer-title {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 10px;
}

.offer-description {
    font-size: 14px;
    margin-bottom: 10px;
}

.offer-benefit {
    font-size: 14px;
    margin-bottom: 10px;
}